td, th{
    border: 1px solid gray;
    text-align: right;
    padding: 8px;
}
th{
  background-color: green; 
  color: white;
}
.names{
    text-align: left;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd){
    background-color: gray;
}
